<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script type="text/javascript" src="javascript/angular.min.js"></script>
    <script type="text/javascript" src="angular-bootstrap-toggle.js"></script>
    <script type="text/javascript" src="index.js"></script>

    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="angular-bootstrap-toggle.css"/>
</head>
<body ng-app="demoApp">
<div ng-controller="demoController" ng-view>
    <div class="container">
        <h1 class="page-header">Angular Bootstrap Toggle</h1>

        <p>A nice and clean implementation of toggles for AngularJS using Bootstrap.</p>

        <h2>Examples</h2>

        <div class="row">
            <div class="col-md-12">
                <h3>Default</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <angular-bootstrap-toggle ng-model="toggle1" size="lg"></angular-bootstrap-toggle>
            </div>
            <div class="col-md-2">
                <angular-bootstrap-toggle ng-model="toggle100"></angular-bootstrap-toggle>
            </div>
            <div class="col-md-2">
                <angular-bootstrap-toggle ng-model="toggle101" size="sm"></angular-bootstrap-toggle>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h3>&quot;Toggled handler&quot;</h3>

                <p class="text-info">Take a look at the console!</p>
                <angular-bootstrap-toggle ng-model="toggle4" toggled="wasToggled()"></angular-bootstrap-toggle>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h3>Custom labels</h3>
                <angular-bootstrap-toggle ng-model="toggle5" off-label="No" on-label="Yes"></angular-bootstrap-toggle>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h3>Disabled</h3>
                <angular-bootstrap-toggle ng-model="toggle10" disabled="true"></angular-bootstrap-toggle>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h3>Colors!</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <angular-bootstrap-toggle ng-model="toggle6" on-button-class="success" off-button-class="danger"></angular-bootstrap-toggle>
            </div>
            <div class="col-md-2">
                <angular-bootstrap-toggle ng-model="toggle7" on-button-class="warning"></angular-bootstrap-toggle>
            </div>
            <div class="col-md-2">
                <angular-bootstrap-toggle ng-model="toggle8" on-button-class="info" off-button-class="warning"></angular-bootstrap-toggle>
            </div>
            <div class="col-md-2">
                <angular-bootstrap-toggle ng-model="toggle9" on-button-class="danger"></angular-bootstrap-toggle>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h3>Animation!</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <angular-bootstrap-toggle ng-model="toggle11" animation="true" size="lg" on-button-class="success" off-button-class="danger"></angular-bootstrap-toggle>
            </div>
            <div class="col-md-2">
                <angular-bootstrap-toggle ng-model="toggle14" animation="true" on-button-class="success" off-button-class="danger"></angular-bootstrap-toggle>
            </div>
            <div class="col-md-2">
                <angular-bootstrap-toggle ng-model="toggle15" animation="true" size="sm" on-button-class="success" off-button-class="danger"></angular-bootstrap-toggle>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h3>Custom knob text (with animation)</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <angular-bootstrap-toggle ng-model="toggle12" animation="true" size="lg" knob-text="PC" on-button-class="success" off-button-class="danger"></angular-bootstrap-toggle>
            </div>
            <div class="col-md-2">
                <angular-bootstrap-toggle ng-model="toggle16" animation="true" knob-text="PC" on-button-class="success" off-button-class="danger"></angular-bootstrap-toggle>
            </div>
            <div class="col-md-2">
                <angular-bootstrap-toggle ng-model="toggle17" animation="true" size="sm" knob-text="PC" on-button-class="success" off-button-class="danger"></angular-bootstrap-toggle>
            </div>
            <div class="col-md-2">
                <angular-bootstrap-toggle ng-model="false" animation="true" disabled="true" size="sm" knob-text="PC" on-button-class="success" off-button-class="danger"></angular-bootstrap-toggle>
            </div>
            <div class="col-md-2">
                <angular-bootstrap-toggle ng-model="true" animation="true" disabled="true" size="sm" knob-text="PC" on-button-class="success" off-button-class="danger"></angular-bootstrap-toggle>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h3>Custom knob text (without animation)</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <angular-bootstrap-toggle ng-model="toggle118" size="lg" knob-text="PC" on-button-class="success" off-button-class="danger"></angular-bootstrap-toggle>
            </div>
            <div class="col-md-2">
                <angular-bootstrap-toggle ng-model="toggle19" knob-text="PC" on-button-class="success" off-button-class="danger"></angular-bootstrap-toggle>
            </div>
            <div class="col-md-2">
                <angular-bootstrap-toggle ng-model="toggle20" size="sm" knob-text="PC" on-button-class="success" off-button-class="danger"></angular-bootstrap-toggle>
            </div>
            <div class="col-md-2">
                <angular-bootstrap-toggle ng-model="false" disabled="true" size="sm" knob-text="PC" on-button-class="success" off-button-class="danger"></angular-bootstrap-toggle>
            </div>
            <div class="col-md-2">
                <angular-bootstrap-toggle ng-model="true" disabled="true" size="sm" knob-text="PC" on-button-class="success" off-button-class="danger"></angular-bootstrap-toggle>
            </div>
        </div>
    </div>
</div>

<a href="https://github.com/manuelrauber/angular-bootstrap-toggle"><img style="position: absolute; top: 0; right: 0; border: 0;"
                                      src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67"
                                      alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>
</body>
</html>